mysqlclient
djangorestframework
django-filter
channels
channels-redis
pytz
Django
Markdown
django-crispy-forms
isort
django-debug-toolbar
whitenoise
django-rest-auth
django-allauth
django-cors-headers
django-extensions
ptpython
pillow
django-environ
pip-tools
