
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/bootstrap.min.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'static/index.css' %}">
    <link rel="stylesheet" href="{% static 'static/font-awesome.min.css' %}">
    <script src="{% static 'static/jquery-3.3.1.slim.min.js' %}"></script>


    <title>Bokshi Chat</title>
  </head>
  <body>

    <div class="">


      <!-- As a heading -->

      <!-- For demo purpose-->
      <header class="text-center" style="margin-top: 2px;">
        <h4 class=" text-info mt-2">Bokshi Chat</h4>

        <div class="">
          <a class="" href="{% url 'logout' %}">Log Out</a>
        </div>

        </p>
      </header>

      <div class="row rounded-lg overflow-hidden shadow">
        <!-- Users box-->
        <div class="col-md-1"></div>
        <div class="col-md-3 col-sm-12  ">
          <div class="">

            <div class="bg-info px-4 py-1" style="background-color: rgb(228, 232, 227); margin-left: -15px;">
              <!-- <p class="h5 mb-0 py-1">Recent</p> -->

              <div id="user-profile" class="list-group rounded-0 bg-info">
                <a class="list-group-item list-group-item-action  text-white rounded-0">
                  <div class="media col-sm-1"><img src="https://randomuser.me/api/portraits/women/86.jpg" alt="Avatar" alt="user" width="50" class="rounded-circle">


                    <div class="media-body ">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0 text-dark mt-3 col-sm-1 text-uppercase font-weight-bold">My Profile</h6>

                      </div>

                    </div>
                  </div>
                </a>
              </div>

              <div class="input-group my-3">

                <i id="back-button" class="fa fa-arrow-left mt-2 mr-2 text-primary" aria-hidden="true"></i>
                <input id="search-input" type="text" class="form-control" placeholder="Search User..">

              </div>
              <div id="search-box" class="list-group">

                <!-- <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a> -->
                <!-- <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
              </div>
            </div>

            <div class="messages-box" style="background-color: rgb(228, 232, 227);margin-left: -15px">
              <div id="user-list" class="list-group rounded-0">
                <!-- <a  class="list-group-item list-group-item-action active text-white rounded-0">
                  the active class is here
                  </a> -->











              </div>
            </div>
          </div>
        </div>
        <!-- Chat Box-->
        <div class="col-md-6 px-0">
          <div class="row">
            <section id="receiver"class= "" >
              <div class="list-group rounded-0">
                <a class="list-group-ite list-group-item-action  text-white rounded-0 col-md-5">
                  <div class="media"><img src="https://randomuser.me/api/portraits/women/86.jpg" alt="Avatar" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0 text-dark mt-3 text-capitalize"></h6>


                      </div>

                    </div>
                  </div>
                </a>
              </div>

            </section>
          </div>
          <hr>
          <div>
            <div class="row">
              <!-- <div class="col-md-2"></div> -->
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-12">
                    <div id="message-box"class="chat-box">
                      <!-- Sender Message-->
                      <div id="message-list">


                        <!-- Reciever Message-->
                        <!-- <div class="media w-50 ml-auto mb-3">
                          <div class="media-body">
                          <div class="bg-primary rounded py-2 px-3 mb-2">
                          <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
                          </div>
                          <p class="small text-muted">12:00 PM | Aug 13</p>
                          </div>
                          </div> -->

                      </div>
                    </div>
                  </div>
                </div>


                <!-- Typing area -->
                <form action="#" class="bg-light" style="position: absolute; bottom: 5px;width:90%">
                  <div class="input-group">
                    <input type="text" id="chat-input" placeholder="Type a message" width="100%" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 ml-0 bg-light">
                    <div class="input-group-append">
                      <button id="btn-send" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                    </div>
                  </div>
                </form>



              </div>

            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script>
          let sessionKey = '{{ request.session.session_key }}';
          let currentUser = '{{ request.user.username }}';
          let currentUserID = '{{ request.user.id }}';
          let username_eng = '{{request.user.username_eng}}';
        </script>
        <script src="{% static 'js/app.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
